<body>
<nav align="center">
    Merci de cliquer sur ce lien pour confirmer votre E-Mail: <br />
    <a href="{{ link }}">Confirmer votre Compte</a>
    <br />
    <img src="https://i.ytimg.com/vi/CPQyMOof4r8/hqdefault.jpg"/>
</nav>
</body>