main {
    width: 80%;
    margin: 350px auto 0 auto;
}

.alert_msg {
    width: 100%;
    background-color: var(--red);
    color: white;
    font-family: "Zilla Slab", sans-serif;
    padding: 20px 0;
}

.alert_msg > h2 {
    font-size: 1.8em;
    width: 95%;
    margin: auto;
}

.alert_msg > p {
    font-size: 1.6em;
    width: 92%;
    margin: 20px auto 0 auto;
}

/* LOGIN */

.content_title {
    background-color: white;
    font-size: 3em;
    color: var(--orange);
    padding: 10px 3% 10px 3%;
    text-align: center;
    display: inline-block;
    font-family: 'Lobster', sans-serif;
}

.content_login {
    margin-top: -40px;
    display: flex;
    background-color: white;
}

.content_login_left {
    width: 50%;
}

.content_login_left > p {
    width: 88%;
    margin: 80px auto 0 auto;
    text-align: justify;
    font-size: 1.6em;
    font-family: "Zilla Slab", sans-serif;
    color: var(--grey);
}

.content_login_left > p > span {
    color: var(--red);
    font-weight: bold;
}

.content_login

form {
    width: 50%;
    border-left: var(--grey) solid 2px;
    color: var(--orange);
    padding: 30px 0 40px 0;
}

.login_input {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.login_input i {
    font-size: 4.5em;
    margin: 35px 5px 0 0;
    width: 20%;
}

.login_input_right {
    width: 80%;
    margin: auto;
}

.login_input_right > h3 {
    font-family: 'Lobster', sans-serif;
    font-size: 1.9em;
    margin-bottom: 0;
}

.login_input_right > input {
    font-family: "Zilla Slab", sans-serif;
    font-size: 1.55em;
    border: var(--orange) 1px solid;
    background: none;
    outline: none;
    padding: 5px 0 5px 3%;
    color: rgba(85, 85, 85, 0.7);
    width: 97%;
}

.login_input_right > p {
    font-family: "Zilla Slab", sans-serif;
    font-size: 1em;
    margin-top: 1px;
}

.login_input_right > p > a {
    color: var(--orange);
}

.login_btn {
    background-color: var(--orange);
    color: white;
    border: none;
    display: block;
    font-family: 'Lobster', sans-serif;
    font-size: 2.2em;
    padding: 8px 0 8px 0;
    width: 70%;
    text-align: center;
    margin: 20px auto 0 auto;
}

.login_btn:hover {
    color: #dbdbdb;
    cursor: pointer;
    background-color: #ff8314;
}

/* RESPONSIVE */

/* IPAD ROTATE */

@media screen and (max-width: 1024px) {

    main{
        width: 95%;
        margin: 280px auto 0 auto;
    }

    main.sticky{
        margin: 230px auto 0 auto;
    }

}

/* MOBILE ROTATE */

@media screen and (max-width: 812px) {

    main{
        width: 100%;
        margin: 220px auto 0 auto;
    }

    main.sticky{
        margin: 170px auto 0 auto;
    }

    .content_login_left > p {
        font-size: 1.4em;
    }

    /* FORM */

    .login_input {
        width: 80%;
    }

    .login_input i {
        font-size: 4em;
    }

    .login_input_right > h3 {
        font-size: 1.6em;
    }

    .login_btn {
        width: 80%;
    }

}

/* IPAD */

@media screen and (max-width: 768px) and (min-height: 500px) {

    main{
        margin: 100px auto 0 auto;
    }

}

/* MOBILE */

@media screen and (max-width: 414px) {

    main{
        margin: 70px auto 0 auto;
    }

    .alert_msg {
        width: 100%;
        background-color: var(--red);
        color: white;
        font-family: "Zilla Slab", sans-serif;
        padding: 20px 0;
    }

    .alert_msg > h2 {
        font-size: 1.5em;
    }

    .alert_msg > p {
        font-size: 1.4em;
    }

    /* LOGIN */

    .content_title {
        padding: 10px 0 10px 0;
        width: 100%;
    }

    .content_login {
        margin-top: -35px;
        display: block;
    }

    .content_login_left {
        width: 100%;
    }

    .content_login_left > p {
        width: 90%;
        margin: 0 auto 0 auto;
        padding-bottom: 30px;
        text-align: justify;
        font-size: 1.5em;
        font-family: "Zilla Slab", sans-serif;
        color: var(--grey);
    }

    .content_login form {
        width: 100%;
        border: none;
        color: var(--orange);
        padding: 0 0 20px 0;
    }

    .login_input {
        width: 90%;
    }


    .login_btn {
        width: 90%;
    }

}
