{% extends 'admin/admin_base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/admin/sanctions.css') }}">
{% endblock %}

{% block body %}

    <section class="sanctions">

        <h1 class="block_title_h1">Joueurs en ligne</h1>

        <div class="search_form">
            <input id="textSearch" type="search" placeholder="Rechercher" />
            <button id="buttonSearch">Valider</button>
        </div>

        <table id="players">
            <tr class="table_head">
                <td>Visuel</td>
                <td>Pseudo</td>
                <td>Groupe</td>
                <td></td>
            </tr>
        </table>

    </section>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/admin/sanction.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}