table {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    border: solid 2px rgba(163, 163, 163, 0.26);;
}

table td {
    height: 80px;
}

.table_head {
    background: #d34836;
    color: white;
    font-size: 1.4em;
    font-weight: bold;
}

.table_content:nth-child(odd){
    background-color: rgba(163, 163, 163, 0.26);
    color: black;
    font-size: 1em;
}

/* BUTTONS */

.content-box {
    position: relative;
    color: #d34836;
    width: 90%;
    margin: auto;
    margin-top: 50px;
}

.content-box textarea{
    width: 100%;
    border: none;
    border-bottom: #d34836 solid 1px;
    background: transparent;
    color: black;
    resize: none;
    margin-bottom: 40px;
}

.content-box label {
    position: absolute;
    top:-18px;
    left: -18px;
    padding: 16px 17px;
    font-size: 1.5em;
    pointer-events: none;
    transition: .5s;
}

.content-box textarea:focus ~ label,
.content-box textarea:valid ~ label {
    top: -45px;
    left: -18px;
    color: #d34836;
    font-size: 1em;
    border: none;
}

.content-box textarea:focus {
    height: 250px;
}

.btn {
    padding: 8px 20px;
    border-radius: 0;
    overflow: hidden;
    position: relative;
    border: solid 5px #d34836;
    width: 60%;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    color: black;
    font-weight: bold;
    display: block;
    margin: auto;
}

.btn::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
            120deg,
            transparent,
            #d42414,
            transparent
    );
    transform: translateX(-100%);
    transition: 0.6s;
}

.btn:hover {
    background: transparent;
    box-shadow: 0 0 20px 10px hsla(54, 23%, 26%, 0.5);
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover::before {
    transform: translateX(100%);
}

/* VIEW TICKET */

.ticket_view {
    padding: 0 18px;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    width: 90%;
    margin: auto;
    border: solid #d42414 4px;
    background: transparent;
    margin-bottom: 50px;
}

.ticket_view_content h2 {
    color: #d42414;
}

.ticket_view_content {
    width: 90%;
    margin: auto;
}

.ticket_view_content > p {
    color: black;
    background: transparent;
    padding: 2%;
    border: #d42414 solid 2px;
}

.green {
    color: #7caa4f;
}

.red {
    color: #d53c3c;
}

.ticket_view_content_resolved_block {
    display: flex;
    justify-content: space-between;
}

.btn_resolved {
    padding: 8px 20px;
    border-radius: 0;
    overflow: hidden;
    position: relative;
    border: solid 5px #d42414;
    width: 100%;
    background: transparent;
    font-size: 1.5em;
    color: black;
    font-weight: bold;
    display: block;
    margin: auto;
}

.btn_resolved::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
            120deg,
            transparent,
            #ee1c0b,
            transparent
    );
    transform: translateX(-100%);
    transition: 0.6s;
}

.btn_resolved:hover {
    background: transparent;
    box-shadow: 0 0 20px 10px hsla(54, 23%, 26%, 0.5);
    cursor: pointer;
    transition: 0.2s;
}

.btn_resolved:hover::before {
    transform: translateX(100%);
}

.ticket_message_frame {
    width: 100%;
    color: black;
    background: transparent;
    border: #d42414 solid 2px;
    border-radius: 10px 0 10px 0;
    margin-bottom: 20px;
}

.ticket_message_frame_top {
    font-weight: bold;
    color: #d42414;
}

.ticket_message_frame_bot {
    padding: 0 0 0 2%;
}

.ticket_message_frame > div {
    padding: 0 0 0 2%;
}

.btn_msg {
    padding: 8px 20px;
    border-radius: 0;
    overflow: hidden;
    position: relative;
    border: solid 5px #d42414;
    width: 40%;
    background: transparent;
    font-size: 1.8em;
    color: black;
    font-weight: bold;
    display: block;
    margin: auto;
    margin-bottom: 40px;
}

.btn_msg::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
            120deg,
            transparent,
            #f31c09,
            transparent
    );
    transform: translateX(-100%);
    transition: 0.6s;
}

.btn_msg:hover {
    background: transparent;
    box-shadow: 0 0 20px 10px hsla(54, 23%, 26%, 0.5);
    cursor: pointer;
    font-size: 1.2em;
    transition: 0.2s;
}

.btn_msg:hover::before {
    transform: translateX(100%);
}